<html>
<body bgcolor="#E6E6FA">
<h1><center> Welcome to the Notes app!</center </h2>
<h2> <center>Here you are able to create, save and view all of your important notes! </center></h2>
<center> <button type="submit" formaction="/view">View </button> </center>
 </html>
